# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# ML specific (important)
artifacts/
models/
*.h5
*.pkl
*.joblib
